@model SKSLearningSystem.Areas.Admin.Models.TakeTestViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TakeExam</title>
    @Styles.Render("~/Content/takeExam")
</head>
<body>

    <div class="sheet">
        <div class="inner-sheet">
            <h2 class="exam-name">@Model.CourseName</h2>
            <hr />          

            @using (Ajax.BeginForm("TakeExam",null, new AjaxOptions() { UpdateTargetId = "result"}
                ,new { id = "exam" }))
            {
                @Html.AntiForgeryToken();
               @Html.HiddenFor(x => Model.CourseName);
                @Html.HiddenFor(x => x.CourseStateId);
                for (int i = 0; i < Model.Questions.Count; i++)
                {
                   <div class="question">
                    @Html.HiddenFor(x => x.Questions[i].Id)
                    <p class="statement">
                        @{
                            var counter = i + 1;
                        }
                        @counter. 
                        @Html.DisplayFor(x => x.Questions[i].Statement)
                        @Html.HiddenFor(x => x.Questions[i].Statement)
                    </p>
                                       
                    @for (int a=0; a<Model.Questions[i].Options.Count;a++)
                    {  <p>
                        @Html.CheckBoxFor(x => x.Questions[i].Options[a].IsSelected, "IsSelected")
                           
                        <span class="answer">
                            @Html.HiddenFor(x => x.Questions[i].Options[a].Letter)
                            @Html.LabelFor(x => x.Questions[i].Options[a].IsSelected,$"{Model.Questions[i].Options[a].Letter}"))
                            @Html.LabelFor(x => x.Questions[i].Options[a].IsSelected, $"{Model.Questions[i].Options[a].Answer}")
                        </span>
                    </p>
                    }
                     </div>

                            }
                           
                    <button type="submit"  class="btn-upload">Submit Test</button>
            }
           
        </div>
        <div id="result">

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/takeExam")
    <script>
  
    </script>
</body>
</html>
