<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/jqGridcss")
    @RenderSection("styles", required: false)
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-left">
        <ul class="nav navbar-nav" id="side">
            <li><a href="@Url.Action("index", "Home",new { area = "" })"><i class="fa fa-graduation-cap" aria-hidden="true"></i><span class="spanche">SKS Learning</span></a></li>
            <hr id="greasy-line" />
            <li><a href="@Url.Action("AssignCourse", "Admin",new { area = "Admin" })"><i class="fa fa-file-text" aria-hidden="true"></i><span class="spanche">Assign Courses</span></a></li>
            <li><a href="@Url.Action("uploadcourse", "Admin",new { area = "Admin" })"><i class="fa fa-upload" aria-hidden="true"></i><span class="spanche">Upload Course</span></a></li>
            <li><a href="@Url.Action("monitorusersprogress", "Admin",new { area = "Admin" })"><i class="fa fa-desktop" aria-hidden="true"></i><span class="spanche">Monitor Progress</span></a></li>

            <li><a href="@Url.Action("assignroles", "Admin",new { area = "Admin" })"><i class="fa fa-wrench" aria-hidden="true"></i><span class="spanche">Manage Users</span></a></li>

        </ul>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" },null)</li>
                    <li>@Html.ActionLink("All Courses", "allcourses", "Home", new { area = "" }, new { })</li>
                    <li>@Html.ActionLink("My Courses", "myprofile", "Home", new { area = "" }, new { })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer >
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
