@model SKSLearningSystem.Areas.Admin.Models.AssignCourseViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Assign Courses</h2>

@using (Html.BeginForm("CompleteAssignment", "Admin", FormMethod.Post))
{
    <div id="container">
        <div id="ListUsers">
            @for (int i = 0; i < Model.Users.Count; i++)
                {
                <p>@Html.HiddenFor(x => Model.Users[i].Id)</p>
                <p id="userName">@Html.EditorFor(u => Model.Users[i].Checked) @Html.DisplayFor(x => Model.Users[i].UserName) @Html.HiddenFor(x => Model.Users[i].UserName)</p>
                <p id="mandatory">@Html.LabelFor(u => Model.Users[i].Mandatory) @Html.EditorFor(u => Model.Users[i].Mandatory)</p>
                <p id="dueDate">@Html.LabelFor(u => Model.Users[i].DueDate) @Html.EditorFor(u => Model.Users[i].DueDate)</p>
            }
        </div>
        <div id="ListCourses">
            @for (int i = 0; i < Model.Courses.Count; i++)
                {
                <p>@Html.HiddenFor(x => Model.Courses[i].Id)</p>
                <p>@Html.EditorFor(u => Model.Courses[i].Checked) @Html.DisplayFor(x => Model.Courses[i].Name) @Html.HiddenFor(x => Model.Courses[i].Name)</p>
            }
        </div>
    </div>
    <div id="butt">
        <input type="submit" value="Assign Courses">
    </div>
}